<section class="content-header">
    <div class="content-header-info">
        <h2>Add New Topic</h2>
    </div>
</section>

<section class="content-item">
    <div class="content-item-info">
        <form class="new-edit-form" method="post" action="/topics">
            <section>
                <h3>Topic Info</h3>
                <p><label for="name">Name: </label>
                    <input id="name" type="text" name="topic[name]"</p>
                <p><label for="description">Description: </label>
                    <textarea id="description" type="text" name="topic[description]"></textarea></p>
            </section>
            
            <section>
                <h3>Associate Subject (required)</h3>
                <h4>Select from Existing Subjects</h4>
                <% @subjects.each do |s| %>
                    <p><input id="<%= s.name %>" type="radio" name="topic[subject_id]" value="<%= s.id %>">
                        <label for="<%= s.name %>"><%= s.formatted_name %></label></p>
                <% end %>
                    
                <h4>Associate New Subject</h4>
                <p><label for="name">Name: </label>
                    <input id="name" type="text" name="subject[name]"</p>
                <p><label for="description">Description: </label>
                    <textarea id="description" type="text" name="subject[description]"></textarea></p>
            </section>

            <p><input type="submit" value="Add Topic"></p>
        </form>
    </div>
</section>

