<h2>Single Topic</h2>
<p>show count of sources per topic</p>
<p>button to edit specific topic</p>
<p>button to delete specific topic</p>

<h3>All Sources Within Topic</h3>
<p>show source name(link), pub, synopsis, type</p>
<p>link to view specific source</p>
<p>button to edit specific source</p>
<p>button to delete specific source</p>

