<section class="content-header">
    <div class="content-header-info">
        <h2>Login</h2>
    </div>
</section>

<% if flash.has?(:message) %>
    <p class="flash-message"><%= flash[:message] %></p>
<% end %>

<section class="content-item">
    <div class="content-item-info">
        <form class="new-edit-form" method="post" action="/login">
            <h3>Enter Your Login Info</h3>
            <p><label for="username">Username: </label>
                <input id="username" type="text" name="user[username]"></p>
            <p><label for="password">Password: </label>
                <input id="password" type="password" name="user[password]"></p>

            <p><input type="submit" value="Log In"></p>
        </form>
    </div>
</section>



                

                
