<section class="content-header">
    <div class="content-header-info">
        <h2 class="display-horiz"><%= @user.formatted_name %></h2>
        <form class="crud-button" method="get" action="/users/<%= @user.slug %>/edit">
            <input type="submit" value="Edit Profile">
        </form>
        <form class="crud-button" method="post" action="/users/<%= @user.slug %>">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Profile">
        </form>
    </div>
</section>

<% if flash.has?(:message) %>
    <p class="flash-message"><%= flash[:message] %></p>
<% end %>


<section class="content-item">
    <div class="content-item-info">

    </div>
</section>

