<h2>All Subjects</h2>
<p><h3>Subject Name</h3>
<p>show count of topics per subject</p>
<p>button to edit specific subject</p>
<p>button to delete specific subject</p>


<h3>All Topics</h3>
<p>show count of sources per topic</p>
<p>button to edit specific topic</p>
<p>button to delete specific topic</p>