<section class="content-header">
    <div class="content-header-info">
        <h2>Add New Subject</h2>
    </div>
</section>

<% if flash.has?(:message) %>
    <p class="flash-message"><%= flash[:message] %></p>
<% end %>

<section class="content-item">
    <div class="content-item-info">
        <form class="new-edit-form" method="post" action="/subjects">
            <section>
                <h3>Subject Info</h3>
                <p><label for="name">Name: </label>
                    <input id="name" type="text" name="subject[name]"</p>
                <p><label for="description">Description: </label>
                    <textarea id="description" type="text" name="subject[description]"></textarea></p>
            </section>
            
            <section>
                <h3>Associate New Topic (optional)</h3>
                <p><label for="name">Name: </label>
                    <input id="name" type="text" name="topic[name]"</p>
                <p><label for="description">Description: </label>
                    <textarea id="description" type="text" name="topic[description]"></textarea></p>
            </section>

            <p><input type="submit" value="Add Subject"></p>
        </form>
    </div>
</section>
