<h2>Add New Subject</h2>

<form method="post" action="/subjects">
    <h3>Subject Info</h3>
    <p><label for="name">Name: </label>
        <input id="name" type="text" name="subject[name]"</p>
    <p><label for="description">Description: </label>
        <textarea id="description" type="text" name="subject[description]"></textarea></p>
    <br>

    <h3>Associate New Topic (optional)</h3>
    <p><label for="name">Name: </label>
        <input id="name" type="text" name="topic[name]"</p>
    <p><label for="description">Description: </label>
        <textarea id="description" type="text" name="topic[description]"></textarea></p>

    <p><input type="submit" value="Add Subject"></p>
</form>

