<section class="content-header">
    <div class="content-header-info">
        <h2>Welcome to Sourcerer</h2>
    </div>
</section>

<section class="content-item">
    <div class="content-item-info">
        <div class="source-info">
            <h3>To Get Started Tracking Your Favorite Internet Sources</h3>
            <h4 class="display-horiz"><a href="/login">Login</a></h4>
            <h4 class="display-horiz"><a href="/signup">Signup</a></h4>
        </div>
    </div>
</section>