<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Sourcerer</title>    
    <meta name="description" content="Collect online sources in one place and access them via any internet connected device. Completely custom organization by subject and topic. Share sources, if desired, with others researching the same topic.">
    <link rel="stylesheet" href="/styles/global.css" type="text/css">    
  </head>

  <body>
    <header>  
        <h1>Sourcerer</h1>
        <nav>
            <ul>
              <li><a href="/subjects">Home</a></li>              
              <li><a href="/subjects/new">Add Subject</a></li>
              <li><a href="/topics/new">Add Topic</a></li>
              <li><a href="/sources/new">Add Source</a></li>
              <li><a href="#">Edit Profile</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>  
      <a href="/"><h2>Back Home</h2></a>
    </footer>

  </body>
</html>