<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Sourcerer</title>
    <meta name="description" content="Collect online sources in one place and access them via any internet connected device. Completely custom organization by subject and topic. Share sources, if desired, with others researching the same topic.">
    <link rel="stylesheet" href="/styles/global.css" type="text/css">
  </head>

  <body>
    <header>
        <h1>Sourcerer</h1>
        <h3>May your source be with you...</h3>
        <nav>
            <ul>
              <li><a href="/subjects">Home</a></li>
              <li><a href="/subjects/new">Add Subject</a></li>
              <li><a href="/topics/new">Add Topic</a></li>
              <li><a href="/sources/new">Add Source</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
              <li><a href="/users/current_user.slug/edit">Edit Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div>
        <h3><a href="https://www.markstabler.com" target="_blank">Created by Mark Stabler</a></h3>
        <p class="display-horiz">© Stabler Writing Services, LLC</p>
        <p class="display-horiz"><a href="https://github.com/marcon29/sinatra-sourcerer" target="_blank">MIT License & Source Code</a></p>
      <div>
    </footer>

  </body>
</html>